<!--sse-->
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-column-wrapper">

      <div class="footer-col footer-left">
        <a class="icon" rel="external" href="mailto:{{ site.data.contacts.email }}"><i class="icon-envelope"></i></a>
        <a class="icon" rel="external" href="https://www.linkedin.com/in/{{ site.data.contacts.linkedin }}"><i class="icon-linkedin"></i></a>
      </div>

      <div class="footer-col footer-right">
        <a class="icon" rel="external" href="{{ site.data.links.source }}">Page source</a>
      </div>

    </div>
  </div>
</footer>
<!--/sse-->
