<style type="text/css">
{% include bernoulli-runs-simulator/bernoulli-runs-simulator.css %}
</style>

<div id="bernoulli-calculator">
<div id="bernoulli-title">Calculate the probability of success runs in independent Bernoulli trials</div>
<div class="calculator-input">
<label for="bernoulli-k">Minimum length of each run:</label>
<input type="number" min="2" step="1" id="bernoulli-k" value="4" />
</div>
<div class="calculator-input">
<label for="bernoulli-n">Total number of trials:</label>
<input type="number" min="2" step="1" id="bernoulli-n" value="5" />
</div>
<div class="calculator-input">
<label for="bernoulli-p">Probability of success in each trial:</label>
<input type="number" min="0" max="1" step="0.01" id="bernoulli-p" value="0.17" />
</div>
<div class="calculator-input">
<label for="bernoulli-x">Number of runs:</label>
<input type="number" min="1" step="1" id="bernoulli-x" value="1" />
</div>
<div class="button-wrapper">
<button id="bernoulli-button" type="submit">Calculate</button>
</div>
<div id="bernoulli-result-box">
<label for="bernoulli-result">Result:</label>
<span id="bernoulli-result"></span>
</div>
</div>

<script type="text/javascript">
{% include bernoulli-runs-simulator/bernoulli-runs-simulator.js %}
</script>
