body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}


h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm { margin-bottom: $spacing-unit / 2; }


// h1, h2, h3, h4, h5, h6 { font-weight: $base-font-weight; }
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}
h2 { font-size: 38px; @include media-query($on-tablet) { font-size: 28px; } }
h2 { font-size: 32px; @include media-query($on-tablet) { font-size: 28px; } }
h3 { font-size: 26px; @include media-query($on-tablet) { font-size: 22px; } }
h4 { font-size: 20px; @include media-query($on-tablet) { font-size: 18px; } }


ul, ol { margin-left: $spacing-unit; }
li { > ul, ol { margin-bottom: 0; } }


img {
  max-width: 100%;
  vertical-align: middle;
}
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption { font-size: $small-font-size; }
.icon > svg {
  display: inline-block;
  vertical-align: middle;
  path { fill: $gray-color; }
}
a.icon {
  color: $gray-color;
  text-decoration: none;
  &:visited { color: $gray-color; }
  &:hover { color: $gray-color; text-decoration: none; }
  position: relative;
  margin-left: $spacing-unit / 2;
  margin-right: $spacing-unit / 2;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:visited { color: darken($brand-color, 15%); }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


blockquote {
  color: $gray-color;
  border-left: 4px solid $gray-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child { margin-bottom: 0; }
}


pre, code {
  font-family: $code-font-family;
  font-size: $code-font-size;
  border: 1px solid $gray-color-light;
  border-radius: 3px;
  background-color: $code-background-color;
}

code { padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


.wrapper {
  max-width:     -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:     calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right:  auto;
  margin-left:   auto;
  padding-right: $spacing-unit;
  padding-left:  $spacing-unit;
  @extend %clearfix;

  @include media-query($on-tablet) {
    max-width:     -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:     calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left:  $spacing-unit / 2;
  }
}


%clearfix:after {
  content: "";
  display: table;
  clear:   both;
}

