.site-footer {
    border-top: 1px solid $gray-color-light;
    padding: $spacing-unit 0;
}

.footer-column-wrapper {
    font-size: 15px;
    color: $gray-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}


.footer-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}
