.site-header {
    border-bottom: 5px solid $bottom-bar-color;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &, &:visited { color: $gray-color-dark; }
}

// hamburger
.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon { display: none; }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) { margin-right: 20px; }
    }

    @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $gray-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg path { fill: $gray-color-dark; }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }

        &:not(:last-child) { margin-right: 0; }
        margin-left: 20px;
    }
}
