/* Post list */

.feed-subscribe {
    font-style: italic;
    margin-bottom: $spacing-unit;
}

.post-list {
    margin-left: 0;
    list-style: none;
    .post-item-container { margin-bottom: $spacing-unit; }
    .post-link-container { margin-bottom: 0px; }
    .post-link {
        display: block;
        font-size: $large-font-size;
    }
    .post-meta {
        font-size: $small-font-size;
        color: $gray-color;
    }
}


/* Post content */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    @include media-query($on-tablet) { font-size: 36px; }

    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}
