---
layout: default
---
<div class="page">

  <header class="page-header">
    <h1 class="page-title">{% if page.long_title %}{{ page.long_title }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>

  <article class="page-content">
    {{ content }}
  </article>

</div>
