// @import url('https://fonts.googleapis.com/css?family=Bitter');
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,700|Source+Serif+Pro');
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,700');

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $base-font-family: "Source Sans Pro", "Helvetia Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: normal !default;
$small-font-size:  $base-font-size * 0.875 !default;
$large-font-size:  $base-font-size * 1.5 !default;

$heading-font-family: $base-font-family;
$heading-font-weight: normal !default;
// $heading-font-family: "Source Serif Pro", serif !default;

$code-font-family: "SF Mono", monospace !default;
// $code-font-family: "Source Code Pro", monospace !default;
$code-background-color: #eeeeff !default;
$code-font-size: $base-font-size * 0.875;

$base-line-height: 1.5 !default;
$spacing-unit:     20px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$gray-color:       #828282 !default;
$gray-color-light: lighten($gray-color, 40%) !default;
$gray-color-dark:  darken($gray-color, 25%) !default;
$bottom-bar-color: maroon !default;

$content-width: 800px !default;
// https://davidwalsh.name/write-media-queries-sass
$on-mobile:     600px !default;
$on-tablet:     800px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
"theme/base",
"theme/header",
"theme/footer",
"theme/page",
"theme/post",
"theme/syntax-highlighting"
;
